<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login as an Agent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
</head>
<body>
   <section class="login-section">
       <div class="login">
           <h2>Login as Agent</h2>
           <div class="response">
                <%  if(error){%>
                    <div class="error">
                        <i><%=error%></i>
                    </div>
                <%}%>
           </div>
           <form action="/agent/login/" method="post">
               <div class="input-grp">
                   <label for="">Email</label>
                   <input type="email" name="email" placeholder="Email" required>
               </div>
               <div class="input-grp">
                   <label for="">Password</label>
                   <input type="password" name="password" placeholder="Password" required>
               </div>
               <input type="submit" value="Log In">
               <p class="help">Don't you have an account yet? <a href="/agent/register/">Register</a></p>
           </form>
       </div>
   </section> 
</body>
</html>