<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
</head>
<body>
   <section id="customer-home">
       <div class="side">
        <h2><%=me.names%></h2>
        <div class="balance">
            <strong>Balance:</strong>
            <i><%=me.amount%></i>
        </div>
        <a href="/customer/logout/" class="btn">Log Out</a>
       </div>
       <div class="customer-list">
           <h2 style="text-align: center;">Customers List</h2>
           <% for(let a=0;a<customers.length;a++){%>
               <% if(customers[a]._id!=me._id){%>
               <div class="customer">
                   <strong><%=customers[a].names%></strong>
                   <a href="/customer/transfer/<%=customers[a]._id%>" class="btn">Transfer</a>
               </div>
               <%}%>
           <%}%>
       </div>
   </section> 
</body>
</html>