<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register as Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
</head>
<body>
    <section class="register-area">
        <div class="register">
            <h2>Register as Customer</h2>
            <div class="response">
                <%  if(error){%>
                    <div class="error">
                        <i><%=error%></i>
                    </div>
                <%}%>
            </div>
            <form action="" method="post">
                <div class="input-grp">
                    <label for="">Full Names</label>
                    <input type="text" name="names" placeholder="Your Names">
                </div>
                <div class="input-grp">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Your Email">
                </div>
                <div class="input-grp">
                    <label for="">Choose Password</label>
                    <input type="password" name="password" placeholder="Choose Password">
                </div>
                <div class="input-grp">
                    <label for="">Confirm password</label>
                    <input type="password" name="repeat" placeholder="Confirm Password">
                </div>
                <input type="submit" value="Register">
                <p class="help">Already have an account? <a href="/customer/login/">Log In</a></p>
            </form>
        </div>
    </section>
</body>
</html>